<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723715612492-k7uslep33adlhkojneaae77vhq6u6n9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723715612492-k7uslep33adlhkojneaae77vhq6u6n9j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>723715612492-de8id8mgmjoin2goevf8cgef98mlukeo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwu_Y7Sxq9ZpGravXJQNi9sgcNZX6chh8</string>
	<key>GCM_SENDER_ID</key>
	<string>723715612492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.blog.ghwhsbsb123.gencheminkaist</string>
	<key>PROJECT_ID</key>
	<string>gencheminkaist</string>
	<key>STORAGE_BUCKET</key>
	<string>gencheminkaist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723715612492:ios:02693ef458d2b26f0a79e9</string>
	<key>DATABASE_URL</key>
	<string>https://gencheminkaist.firebaseio.com</string>
</dict>
</plist>